*.sh
node_modules
components.d.ts
auto-imports.d.ts
prettier.config.js
*.md
*.woff
*.ttf
.vscode
.idea
dist
/public
/docs
.husky
.local
/bin
/src/mock
/src/assets
/src/icons
Dockerfile
yarn.lock
package-lock.json
pnpm-lock.yaml
