# hint: If you want peer dependencies to be automatically installed, add "auto-install-peers=true" to an .npmrc file at the root of your project.
# hint: If you don't want pnpm to fail on peer dependency issues, add "strict-peer-dependencies=false" to an .npmrc file at the root of your project.
# 解决如下问题
auto-install-peers=true
strict-peer-dependencies=false
# 忽略项目中引入的各个modules之间的相同modules,但不同版本的问题并继续安装
# legacy-peer-deps=true
# 指定项目依赖的来源（yarn 会读取.npmrc的配置文件，所以不必为yarn再设置一次）
# registry= https://registry.npm.taobao.org/
